{% extends '::base.html.twig' %}

{% block javascripts %}

	<script type="text/javascript">
	
		$(document).ready(function(){
		
		
		});
	
	</script>

{% endblock %}

{% block body -%}


    <div class="page-header"><h1>Firewall <small>rule list</small></h1></div>

    <table class="table">
        <thead>
            <tr>
                
                <th>Priority</th>
                <th>Rule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td>{{ entity.priority }}</td>
                <td>{{ entity.rule }}</td>
                <td>
                
                        <button class="btn btn-info" onclick="window.location.href='{{ path('firewallrules_show', { 'id': entity.id }) }}'">Show</button>
                        <button class="btn btn-warning"  onclick="window.location.href='{{ path('firewallrules_edit', { 'id': entity.id }) }}'">Edit</button>
                        <button class="btn btn-danger"  onclick="window.location.href='{{ path('firewallrules_delete', { 'id': entity.id }) }}'">Delete</button>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

			
            <button class="btn btn-success" onclick="window.location.href='{{ path('firewallrules_new') }}'">New rule</button>

{% endblock %}

