{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}

            {% for error in errors %}
                <div class="label label-danger">{{ error.message }}</div>
            {% endfor %}
        
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
    
    <div class="form-group">
		<div class="row">	
			
			<div class="col-md-12">{{ form_label(form) }}</div>
			<div class="col-md-8">{{ form_widget(form, {'attr': {'class':'form-control input-sm'}} ) }}</div>
			<div class="col-md-4">{{ form_errors(form) }}</div>
			
		</div>
    </div>
    
{% endblock form_row %}

{% block javascripts %}

	<script type="text/javascript">
	
		$(document).ready(function(){
		
			if($("#silvanus_firewallrulesbundle_firewallrulestype_append").is(':checked')){
				$("#silvanus_firewallrulesbundle_firewallrulestype_priority").attr("disabled","disabled");
			}
		
			var lastPriority	= "";
			var lastForce		= false;
			var lastAppend		= false;

			/*
			* Append checkbox
			*
			*/
			$("#silvanus_firewallrulesbundle_firewallrulestype_append").click(function(event){
			
				if($(this).is(':checked')){
				
					/*
					* Priority textbox 
					*
					*/
					lastPriority=$("#silvanus_firewallrulesbundle_firewallrulestype_priority").val();
					$("#silvanus_firewallrulesbundle_firewallrulestype_priority").val("");
					$("#silvanus_firewallrulesbundle_firewallrulestype_priority").attr("disabled","disabled");

					/*
					* Force checkbox 
					*
					*/				
					if($('#silvanus_firewallrulesbundle_firewallrulestype_force').is(':checked')){
						lastForce = true;
					}else{
						lastForce = false;
					}
					
					$('#silvanus_firewallrulesbundle_firewallrulestype_force').prop("checked",false);
					$('#silvanus_firewallrulesbundle_firewallrulestype_force').attr("disabled","disabled");  
					
				}
				if(!$(this).is(':checked')){

					/*
					* Priority textbox 
					*
					*/				
					$("#silvanus_firewallrulesbundle_firewallrulestype_priority").removeAttr("disabled");
					$("#silvanus_firewallrulesbundle_firewallrulestype_priority").val(lastPriority);

					/*
					* Force checkbox 
					*
					*/				
					$('#silvanus_firewallrulesbundle_firewallrulestype_force').removeAttr("disabled");
					$('#silvanus_firewallrulesbundle_firewallrulestype_force').prop("checked",lastForce);
									
				}
			
			});


			/*
			* Force checkbox
			*
			*/
			$("#silvanus_firewallrulesbundle_firewallrulestype_force").click(function(event){
			
				if($(this).is(':checked')){
									
					if($('#silvanus_firewallrulesbundle_firewallrulestype_append').is(':checked')){
						lastAppend = true;
					}else{
						lastAppend = false;
					}
					
					$('#silvanus_firewallrulesbundle_firewallrulestype_append').prop("checked",false);
					$('#silvanus_firewallrulesbundle_firewallrulestype_append').attr("disabled","disabled");  
						
				
				}

				if(!$(this).is(':checked')){
				
					
					$('#silvanus_firewallrulesbundle_firewallrulestype_append').removeAttr("disabled","disabled");  
					$('#silvanus_firewallrulesbundle_firewallrulestype_append').prop("checked",lastAppend);
				
				}
				
			});
		
		});
	
	</script>

{% endblock %}

{% block body -%}

    <div class="page-header"><h1>Firewall <small>create new rule</small></h1></div>

    <form action="{{ path('firewallrules_create', {'id_chain':id_chain } ) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-success" type="submit">Create</button>
        </p>
    </form>

	<div class="col-md-12">	
			<br><br>
			
			<button class="btn btn-info" onclick="window.location.href='{{ path('firewallrules', {'id_chain': id_chain} ) }}'">Back</button>
		
	</div>

		<br>
		<br>
		<br>

			<div class="panel panel-default">
				<div class="panel-heading">INSTRUCTIONS</div>
				<div class="panel-body">				
					1- Type the rule without table and chain
					<br>
					<br>
						
						<center>-s 192.168.100.25 -d 192.168.100.5 -p TCP --sport 21 -j DROP </center>
						
					<br>
					<br>
					
					If you want to use "mode" in the rule, you must be put inside a context [ mode ], for example: 
					<br>
					<br>
						<center>-s 192.168.100.25 -d 192.168.100.5 -p TCP [ -m state --state RELATED,ESTABLISHED ] -j ACCEPT </center>
						
					<br>
				</div>
			</div>			


{% endblock %}
