{% extends '::base.html.twig' %}

{% form_theme filter_form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}

            {% for error in errors %}
                <div class="label label-danger">{{ error.message }}</div>
            {% endfor %}
        
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
    
    <div class="form-group">
				
			<div class="col-md-6">{{ form_label(form) }}</div>
			<div class="col-md-6">{{ form_widget(form, {'attr': {'class':'form-control input-sm'}} ) }}</div>
			{# <div class="col-md-3">{{ form_errors(form) }}</div>	 #}
		
    </div>
    
{% endblock form_row %}

{% block javascripts %}

	<script type="text/javascript">


		$(document).ready(function(){


			
		});
	
	</script>

{% endblock %}

{% block body -%}
    
    <div class="page-header"><h1>Chains <small>list</small></h1></div>
    
    {% if message != '' %}
    
		<div class="alert alert-success" id="message"><button type="button" onclick="$('#message').fadeOut()" class="close" aria-hidden="true">&times;</button>{{ message }}</div>
    
    {% endif%}
    
	<legend>Filter</legend>

		<form action="{{ path('chains') }}" method="POST" class="form-horizontal">
		
			<div class="row">
			
				<div class="col-md-6">
				
					{{ form_row(filter_form.sort_by) }}
					{{ form_row(filter_form.sort_direction) }}
					{{ form_row(filter_form.name) }}
					
				</div>
			
				<div class="col-md-6">
				
					
					{{ form_row(filter_form.host) }}
					{{ form_row(filter_form.type) }}
				
				</div>

				<div class="col-md-6">
					
					<button type="submit" class="btn btn-success">Filter</button>
				</div>
			</div>

			{{ form_row(filter_form._token) }}

		</form>

	<legend>List</legend>
	
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Type</th>
                <th>Host</th>
                <th>Trusted</th>
                <th>Sync Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {# <td><a href="{{ path('chains_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                <td>
                
					{% if entity.active  %}
						A
					{% else %}
                        I      
					{% endif %}
                </td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.host }}</td>
                <td>
					{% for trusted in entity.trusted %}
					
						{{ trusted }}
					
					{% endfor %}
                
                </td>
                <td>
                
					{% if entity.error == true %}
					
						ERRORS
					
					{% else %}
					
						NO ERRORS
					
					{% endif %}
                
                </td>
                <td>
					<button class="btn btn-danger btn-xs" onclick="confirm_redirect('{{ path('chains_delete', { 'id': entity.id }) }}','Are you sure?')" >Delete</button>
					<button class="btn btn-success btn-xs" onclick="window.location.href='{{ path('chains_edit', { 'id': entity.id }) }}'" >Update</button>
					{# <button class="btn btn-primary" onclick="window.location.href='{{ path('chains_show', { 'id': entity.id }) }}'" >Show</button> #}
					<button class="btn btn-primary btn-xs" onclick="window.location.href='{{ path('chains_force_sync', { 'id': entity.id }) }}'" >Force Sync</button>
					<button class="btn btn-primary btn-xs" onclick="window.location.href='{{ path('firewallrules', { 'chain_id': entity.id }) }}'" >Admin firewall rules</button>
					
					{% if entity.type == 'normal' %}
					
						<button class="btn btn-primary btn-xs" onclick="window.location.href='{{ path('stack_chains', { 'id': entity.id }) }}'" >Admin stack</button>
					
					{% endif %}
				
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


	<button class="btn btn-success"  onclick="window.location.href='{{ path('chains_new') }}'">New Chain</button>
    
    {% endblock %}
