{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}

            {% for error in errors %}
                <div class="label label-danger">{{ error.message }}</div>
            {% endfor %}
        
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
    
    <div class="form-group">
		<div class="row">	
			
			<div class="col-md-4">{{ form_label(form) }}</div>
			<div class="col-md-4">{{ form_widget(form, {'attr': {'class':'form-control input-sm'}} ) }}</div>
			<div class="col-md-4">{{ form_errors(form) }}</div>
			
		</div>
    </div>
    
{% endblock form_row %}

{% block javascripts %}

	<script type="text/javascript">
	
		$(document).ready(function(){
	
			//$('#silvanus_chainsbundle_chaintype_trusted').multiselect(); 
		
			$('#silvanus_chainsbundle_chaintype_type').click(function(){
			
				if($('#silvanus_chainsbundle_chaintype_type').val()=="special"){
					
					$('#silvanus_chainsbundle_chaintype_active').val("");
					$('#silvanus_chainsbundle_chaintype_host').val("");
					$('#silvanus_chainsbundle_chaintype_trusted').val("");
					
					$('#silvanus_chainsbundle_chaintype_active').attr("disabled","disabled");
					$('#silvanus_chainsbundle_chaintype_host').attr("disabled","disabled");
					$('#silvanus_chainsbundle_chaintype_trusted').attr("disabled","disabled");
					
					//$('#silvanus_chainsbundle_chaintype_trusted').multiselect("disable");
					
				}else{

					$('#silvanus_chainsbundle_chaintype_active').removeAttr("disabled");
					$('#silvanus_chainsbundle_chaintype_host').removeAttr("disabled");
					$('#silvanus_chainsbundle_chaintype_trusted').removeAttr("disabled");
					
					//$('#silvanus_chainsbundle_chaintype_trusted').multiselect("enable");

				}
		
			});						
		
		});
	
	</script>

{% endblock %}


{% block body -%}
    
    <div class="page-header"><h1>Chain <small>new</small></h1></div>
    

    <form action="{{ path('chains_create') }}" method="post" {{ form_enctype(form) }} role="form" >
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-success" type="submit">Create</button>
        </p>
    </form>

	<div class="col-md-12">	

		<br><br>
		
		<button class="btn btn-info" onclick="window.location.href='{{ path('chains') }}'">Back</button>        

	</div>



{% endblock %}
