{% extends '::base.html.twig' %}
{% block javascripts %}

	<script type="text/javascript">


		$(document).ready(function(){


			
		});
	
	</script>

{% endblock %}


{% block body -%}

    <div class="page-header"><h1>Roles <small>list</small></h1></div>
    
    {% if message != '' %}
    
		<div class="alert alert-success" id="message"><button type="button" onclick="$('#message').fadeOut()" class="close" aria-hidden="true">&times;</button>{{ message }}</div>
    
    {% endif%}

	<legend>Role</legend>


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.role }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <td>
					<button class="btn btn-success btn-xs" onclick="window.location.href='{{ path('role_edit', { 'id': entity.id }) }}'" >Update</button>
					<button class="btn btn-danger btn-xs" 	onclick="confirm_redirect('{{ path('role_delete', { 'id': entity.id }) }}','Are you sure?')" >Delete</button>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<button class="btn btn-success"  onclick="window.location.href='{{ path('role_new') }}'">New Role</button>

    {% endblock %}
